<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki Project</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css?version=51"/>
</head>

<body>
    <h1> Specify the parameters of search </h1>

    <form action = "data" method="get">
        <p>Enter the name or give a link:</p>
        <p><label>
            <input type="text" name="nm"/>
        </label></p>

        <p>Enter the num of pages:</p>
        <p><label>
            <input type="text" name="num"/>
        </label></p>

         <div class="btn-group">

             <p><button class="btn-group" name="name" value="get data" type="submit">Get Data</button></p>
        </div>


      </form>

</body>
</html>