<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki Project</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>

<body>
<h1><i><b> Welcome to Wikipedia Project! </b></i></h1>

    <p> Please, choose what kind of info you want to get </p>
    <br><br>

    <form action = "http://localhost:5000/login" method="get">

        <div class="btn-group">
            <button class="btn-group" name="nm" value="page" type="submit">Specific Page</button>
            <button class="btn-group button2" name="nm" value="stuff" type="submit">Wiki Projects</button>

        </div>

      </form>

</body>
</html>