<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki Project</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css?version=51"/>
</head>

<body>
    <h1><i><b> Wikimedia Foundation's Projects </b></i></h1>

    <p> Choose one of them to get top-10 articles of this month </p>
    <br><br>

    <form action = "data" method="get">

        <p><input name="name"
               type = "image"
               src="../static/wikipedia.png"
               alt="Wikipedia"
               width="200"
               height="250"
               value = "en.wikipedia" />

        <input name="name"
               type = "image"
               src="../static/wiktionary.svg.png"
               alt="Wiktionary"
               width="200"
               height="250"
               value = "en.wiktionary" />

        <input name="name"
               type = "image"
               src="../static/wikibooks.svg.png"
               alt="Wikibooks"
               width="200"
               height="250"
               value = "en.wikibooks" />

        <input name="name"
               type = "image"
               src="../static/wikiquote.svg.png"
               alt="Wikiquote"
               width="200"
               height="250"
               value = "en.wikiquote" />

        <input name="name"
               type = "image"
               src="../static/commons.svg.png"
               alt="Wikimedia Commons"
               width="200"
               height="250"
               value = "commons.wikimedia" />

        <br><br>

        <input name="name"
               type = "image"
               src="../static/wikinews.svg.png"
               alt="Wikinews"
               width="250"
               height="200"
               value ="en.wikinews" />

        <input name="name"
               type = "image"
               src="../static/wikivoyage.svg.png"
               alt="Wikivoyage"
               width="250"
               height="200"
               value ="en.wikivoyage" />

        <input name="name"
               type = "image"
               src="../static/wikidata.svg.png"
               alt="Wikidata"
               width="250"
               height="200"
               value ="wikidata" />

        <input name="name"
               type = "image"
               src="../static/wikispecies.svg.png"
               alt="Wikispecies"
               width="250"
               height="200"
               value ="species.wikimedia" /></p>

      </form>

</body>
</html>